/* header */
.header__logo{
    text-align: center;
}
.header__logo img{
    width: 42%;
    height: 40%;
    object-fit: cover;
    object-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container__header--cart,
.container__header--search{
    display: flex;
    justify-content: right; 
    align-items: center;
}
.header__search,
.header__cart{
    width: 100%;
    height: 100%;
}
.header__cart{
    display: flex;
    justify-content: right; 
    align-items: center;
}
.header__search{
    display: flex;
    justify-content: right; 
    align-items: center;
}

.header__search input{
    width: 80%;
    height: 30px;
    border-radius: 20px;
}
.header__search i{
    position: absolute;
    top: 5.5%;
    right: 15%;
}
.header__cart{
    display: flex;
    justify-content: left; 
    align-items: center;
}
/* Navigation */
.nav_list{
    display: flex;
    justify-content: space-evenly;
}
.nav_item{
    list-style: none;
    padding: 10px;
    box-sizing: content-box;
    transition: box-shadow 0.3s ease;
    position: relative;
}
.nav_item--intro:hover,
.nav_item--home:hover,
.nav_item--service:hover,
.nav_item--product:hover,
.nav_item--contact:hover,
.nav_item--login:hover {
    box-shadow: 0px 2px 0px red;
    font-weight: bold;
}
/* dropdown */
.nav_item a{
    text-decoration: none;
    color: #000;
}

.product__item {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 5px;
    padding: 0;
    display: none;
}

.nav_list li:hover ul.product__item {
    display: block;
}

.nav_item > a {
    padding-bottom: 5px;
}

.product__item li {
    padding: 15px 60px 15px 10px;
    border-bottom: 1px solid lightgray;
    list-style: none;
}

.product__item li:hover {
    background-color: lightgray;
}

/* ------- */

/* Content */
.content-container {
    display: flex;
    flex-wrap: wrap
}

.content__heading h1{
    text-align: center;
    margin-top: 40px;
}

.product {
    margin: 20px 20px;
    cursor: pointer;
}

.product__bags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product__bags img {
   width: 215px;
   height: 300px;
   border: 2px solid #000;
}

.product img:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.product p {
    font-weight: bold;
}

.product__one--name {
    width: 96%;
}

.product span {
    font-weight: bold;
    color: red;
}
/* ------- */

/* footer */
.footer{
    color: #fff;
    background-color: #000;
    margin-top: 200px;
}
.footer_about--container{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.footer_follow,
.footer_office,
.footer_contact,
.footer_about{
    margin: 50px 0px;
}

.footer_follow h2,
.footer_contact h2,
.footer_about h2{
    text-align: center;
}

.footer_contact--item,
.footer_about--item{
    list-style: none;
    padding: 5px ;
}

.footer_about--item a{
    text-decoration: none;
    color: #fff;
}
.footer_contact--container{
    padding-left: 10px;
}
.footer_icon--address,
.footer_icon--phone,
.footer_icon--email,
.footer_icon--right{
    padding-right: 20px;
    margin-left: 15px;
}
.footer_office h2,
.time_open{
    text-align: center;
}
.footer_follow--item{
    list-style: none;
    padding: 5px 0px;
}
.footer_follow--container{
    padding-left: 23%;
}
.footer_follow--container li:hover {
    cursor: pointer;
}
.footer_follow--item i{
    margin-left: 10px;
    padding-right: 15px;
}

.footer_contact--item {
    display: flex;
}

.footer_icon--address {
    padding-right: 23px;
}

.fa-square-instagram {
    margin-right: 2px;
}

@keyframes modaAppear{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}