
/* header */
.header__logo{
    text-align: center;
}
.header__logo img{
    width: 42%;
    height: 40%;
    object-fit: cover;
    object-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container__header--cart,
.container__header--search{
    display: flex;
    justify-content: right; 
    align-items: center;
}
.header__search,
.header__cart{
    width: 100%;
    height: 100%;
}
.header__cart{
    display: flex;
    justify-content: right; 
    align-items: center;
}
.header__search{
    display: flex;
    justify-content: right; 
    align-items: center;
}

.header__search input{
    width: 80%;
    height: 30px;
    border-radius: 20px;
}
.header__search i{
    position: absolute;
    top: 5.5%;
    right: 15%;
}
.header__cart{
    display: flex;
    justify-content: left; 
    align-items: center;
}
/* Navigation */
.nav_list{
    display: flex;
    justify-content: space-evenly;
}
.nav_item{
    list-style: none;
    padding: 10px;
    box-sizing: content-box;
    transition: box-shadow 0.3s ease;
    position: relative;
}
.nav_item--intro:hover,
.nav_item--home:hover,
.nav_item--service:hover,
.nav_item--product:hover,
.nav_item--contact:hover,
.nav_item--login:hover {
    box-shadow: 0px 2px 0px red;
    font-weight: bold;
}
/* dropdown */
.nav_item a{
    text-decoration: none;
    color: #000;
}

.product__item {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 5px;
    padding: 0;
    display: none;
}

.nav_list li:hover ul.product__item {
    display: block;
}

.nav_item > a {
    padding-bottom: 5px;
}

.product__item li {
    padding: 15px 60px 15px 10px;
    border-bottom: 1px solid lightgray;
    list-style: none;
}

.product__item li:hover {
    background-color: lightgray;
}

/* ------- */

/* content */

.content {
    display: flex;
}

/* function */
.function {
    border-right: 1px solid gray;
    display: block;
    padding-right: 80px;
}
.function__list * {
    color: #000;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}

.function i {
    padding-right: 20px;
}

.function__item li, .function__shop--add{
    padding: 5px 0;
    padding-left: 30px;
}

.function__list li {
    margin: 15px 0;
    cursor: pointer;
}

.function__list {
    margin-left: 40px;
}

.function__list i {
    font-size: 20px;
}

.function__item--history i, .function__item--account i {
    padding-left: 3px ;
    font-size: 22px;
}

.function__list a:hover {
    color: red;
}

.function__item--cart a {
    color: red;
}
/* / function / */

/* my_cart */

.cart {
    border: 1px solid black;
    width: 1000px;
    margin-left: 80px;
    margin-top: 30px;
}

.cart img {
    width: 100px;
    border: 1px solid black;
}


.real {
    background-color: #d0011b;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 15px;
}

.shop {
    display: flex;
    border-bottom: 1px solid black;
}

.shop_name p {
    font-weight: bold;
    margin-left: 20px;
    padding-top: 2px;
}

.viewstore {
    margin-top: 10px;
    margin-left: 40px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.viewstore:hover {
    cursor: pointer;
}

.viewstore i {
    font-size: 12px;
    padding: 12px 3px;
    margin-left: 5px;
}

.viewstore a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: 12px 3px;
}

.select {
    margin-left: 615px;
}

.select input {
    margin-top: 17px;
    width: 30px;
    height: 20px;
}

.product_information {
    display: flex;
    margin: 20px 0 20px 35px;
}

.product_information--info {
    margin-left: 30px;
}

.product_name {
    margin-top: 0;
}

.product_total, .price_total {
    color: red;
}

.product_information--price {
    margin-left: 485px;
}

.product_quantity {
    display: flex;
}

.product_quantity button {
    background-color: white;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.product_quantity button:hover {
    cursor: pointer;
}

.product_quantity span {
    margin-right: 10px;
}

.quantity {
    width: 30px;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.product_price {
    margin-top: 20px;
}

.product_delete {
    margin-top: 33px;
    margin-left: 70px;
}

.product_delete button {
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 3px;
}

.product_delete button:hover {
    cursor: pointer;
    background-color: rgb(209, 30, 30);
}

.select_all {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.select_all span {
    line-height: 50px;
}

.select_all button {
    color: white;
    background-color: red;
    border: 0;
    border-radius: 3px;
    height: 30px;
    margin-top: 10px;
}

.select_all span:hover {
    cursor: pointer;
}

.select_all button:hover {
    cursor: pointer;
    background-color: rgb(209, 30, 30);
}

.option {
    border: 1px solid black;
    margin-top: 300px;
    margin-left: 80px;
}

/* / my_cart / */

/* footer */
.footer{
    color: #fff;
    background-color: #000;
    margin-top: 200px;
}
.footer_about--container{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.footer_follow,
.footer_office,
.footer_contact,
.footer_about{
    margin: 50px 0px;
}

.footer_follow h2,
.footer_contact h2,
.footer_about h2{
    text-align: center;
}

.footer_contact--item,
.footer_about--item{
    list-style: none;
    padding: 5px ;
}

.footer_about--item a{
    text-decoration: none;
    color: #fff;
}
.footer_contact--container{
    padding-left: 10px;
}
.footer_icon--address,
.footer_icon--phone,
.footer_icon--email,
.footer_icon--right{
    padding-right: 20px;
    margin-left: 15px;
}
.footer_office h2,
.time_open{
    text-align: center;
}
.footer_follow--item{
    list-style: none;
    padding: 5px 0px;
}
.footer_follow--container{
    padding-left: 23%;
}
.footer_follow--container li:hover {
    cursor: pointer;
}
.footer_follow--item i{
    margin-left: 10px;
    padding-right: 15px;
}

.footer_contact--item {
    display: flex;
}

.footer_icon--address {
    padding-right: 23px;
}

.fa-square-instagram {
    margin-right: 2px;
}