body {
    margin: 0;
}

/* header */
.header__logo{
    text-align: center;
}
.header__logo img{
    width: 62%;
    height: 40%;
    object-fit: cover;
    object-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container__header--cart,
.container__header--search{
    display: flex;
    justify-content: right; 
    align-items: center;
}
.header__search,
.header__cart{
    width: 100%;
    height: 100%;
}
.header__cart{
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin-top: 30px;
    list-style: none;
}
.header__search{
    display: flex;
    justify-content: right; 
    margin-top: 20px;
}

.header__search input{
    width: 80%;
    height: 30px;
    border-radius: 20px;
}
.header__search i{
    position: absolute;
    top: 4%;
    right: 18%;
}

.header__search i:hover, .header__cart:hover {
    cursor: pointer;
}
/*  */

/* drop-cart */

.header__cart i {
    color: black;
    position: relative;
    padding-right: 10px;
}

.show_cart {
    list-style: none;
    position: absolute;
    padding: 0;
    border: 1px solid lightgray;
    width: 220px;
    margin-top: 8px;
    display: none;
}

.header__cart li:hover ul.show_cart {
    display: block;
}

.show_cart a {
    text-decoration: none;
}

.product_cart {
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.show_product {
    background-color: white;
    height: 150px;
    overflow-y: scroll;
}

.product_cart img {
    width: 30px;
    border: 1px solid lightgray;
}

.product_cart span:last-child {
    margin-left: 20px;
}

.product_cart:hover {
    background-color: lightgray;
}

.show_product::-webkit-scrollbar {
    width: 10px;
}

.show_product::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

.show_product::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5px;
}


/* / drop-cart / */


/* drd */

.header__login a{
    color: #000;
    text-decoration: none;
    padding-bottom: 10px ;
}

.header__login {
    margin-top: 30px;
}


.header__login li {
    padding-bottom: 10px;
    list-style: none;
}

.login {
    padding-bottom: 10px;
    list-style: none;
    margin-right: 80px;
}

.select_option a{
    list-style: none;
    color: #000;
}

.select_option {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 8px;
    padding: 0;
    display: none;
}

.header__login li:hover ul.select_option {
    display: block;
}


.select_option > a {
    padding-bottom: 5px;
}

.select_option li {
    padding: 5px 0px 5px 10px;
    border-bottom: 1px solid lightgray;
}

.select_option li:hover {
    background-color: lightgray;
}

/* / drd / */

/* Navigation */
.nav_list{
    display: flex;
    justify-content: space-evenly;
    padding-right: 90px;
}
.nav_item{
    list-style: none;
    padding: 10px;
    box-sizing: content-box;
    transition: box-shadow 0.3s ease;
    position: relative;
}
.nav_item--blog:hover,
.nav_item--home:hover,
.nav_item--service:hover,
.nav_item--product:hover,
.nav_item--contact:hover,
.nav_item--login:hover {
    box-shadow: 0px 2px 0px red;
    font-weight: bold;
}
/* dropdown */
.nav_item a{
    text-decoration: none;
    color: #000;
}

.product__item {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 5px;
    padding: 0;
    display: none;
}

.nav_list li:hover ul.product__item {
    display: block;
}

.nav_item > a {
    padding-bottom: 5px;
}

.product__item li {
    padding: 15px 60px 15px 10px;
    border-bottom: 1px solid lightgray;
    list-style: none;
}

.product__item li:hover {
    background-color: lightgray;
}

/* ------- */

/* content */

.content {
    display: flex;
}

/* function */
.function {
    border-right: 1px solid gray;
    display: block;
    padding-right: 80px;
}
.function__list * {
    color: #000;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}

.function i {
    padding-right: 20px;
}

.function__item li, .function__shop--add{
    padding: 5px 0;
    padding-left: 30px;
}

.function__list li {
    margin: 15px 0;
    cursor: pointer;
}

.function__list {
    margin-left: 40px;
}

.function__list i {
    font-size: 20px;
}

.function__item--history i, .function__item--account i {
    padding-left: 3px ;
    font-size: 22px;
}

.function__list a:hover {
    color: red;
}

.function__item--change a {
    color: red;
}
/* / function / */

/* my_changepass */
.changepass {
    border: 1px solid gray;
    width: 1000px;
    margin-left: 80px;
    margin-top: 30px;
}

.changepass_heading {
    text-align: center;
}

.changepass_body {
    margin-left: 100px;
}

.body__oldpass,
.body__newpass,
.body__enternewpass {
    padding: 20px 0;
}

.body {
    display: flex;
}

.oldpass_input,
.newpass_input,
.enternewpass_input {
    height: 25px;
    width: 620px;
}

.changepass_body label {
    min-width: 160px;
}

#female, #other {
    margin-left: 50px;
}

#male {
    margin-left: 0;
}

.body__save button{
    width: 80px;
    height: 30px;
    border: 0;
    background-color: red;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-left: 705px;
    margin-bottom: 20px;
}

.body__save button:hover {
    background-color: rgb(209, 30, 30);
}
/* / my_changepass / */

/* footer */
.footer{
    color: #fff;
    background-color: #000;
    margin-top: 200px;
}
.footer_about--container{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.footer_follow,
.footer_office,
.footer_contact,
.footer_about{
    margin: 50px 0px;
}

.footer_follow h2,
.footer_contact h2,
.footer_about h2{
    text-align: center;
}

.footer_contact--item,
.footer_about--item{
    list-style: none;
    padding: 5px ;
}

.footer_about--item a{
    text-decoration: none;
    color: #fff;
}
.footer_contact--container{
    padding-left: 10px;
}
.footer_icon--address,
.footer_icon--phone,
.footer_icon--email,
.footer_icon--right{
    padding-right: 20px;
    margin-left: 15px;
}
.footer_office h2,
.time_open{
    text-align: center;
}
.footer_follow--item{
    list-style: none;
    padding: 5px 0px;
}
.footer_follow--container{
    padding-left: 23%;
}
.footer_follow--container li:hover {
    cursor: pointer;
}
.footer_follow--item i{
    margin-left: 10px;
    padding-right: 15px;
}

.footer_contact--item {
    display: flex;
}

.footer_icon--address {
    padding-right: 23px;
}

.fa-square-instagram {
    margin-right: 2px;
}