.product_imgs{
    width: 100%;
}
.product_imgs li{
    list-style: none;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin: 30px 0;
}
.product_img--item img{
    position: relative; 
    left: 20px; 
    bottom: 10px;
    width: 100%;
    transform: scale(0.6); /* Thu nhỏ ảnh xuống 50% */
    transform-origin: 0 0; /* Đặt điểm gốc thu nhỏ ở góc trên bên trái */
}
.product_img--main{
    width: 100%;
}
.list_product--img {
    padding-top: 7%;
}
.main_img{
    width: 80%;
    margin-top: 10%;
    margin-left: 5%;
}

.product_img--main img{
    width: 100%;
}
.product_infor--button{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.product_button--buy,
.product_button--add {
    padding: 15px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}

.product_button--buy:hover,
.product_button--add:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse; 
    width: 100%; 
}

th, td {
    width: 33.33%; 
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: center; 
}

th {
    background-color: #f2f2f2; 
}

/* .choose_color,
.choose_size */
/* .choose_payment_method{
    margin-top: 5%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
} */
/* .payment_method,
.detail_color,
.detail_size{
    width: 100%;
    display: none;
}
.payment_method ul,
.detail_color ul,
.detail_size ul{
    padding: 0;
    margin-top: 5px;
}
.list_color li,
.list_size li{
    margin-top: 2px;
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
} */

.product_infor--quantity {
    display: flex;
    padding: 3% 0;
}

.product_quantity {
    display: flex;
}


.product_quantity button {
    background-color: white;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.product_quantity button:hover {
    cursor: pointer;
}

.product_quantity span {
    margin-right: 57%;
    font-size: 18px;
    padding-top: 1%;
}

.product_infor--total {
    margin-left: 46%;
    padding-top: 1% ;
}

#quantity {
    width: 30px;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.choose_payment_method label {
    font-size: 18px;
    padding-top: 1%;
}


.product_desc--logo{
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    border: 1px solid gray;
    padding-bottom: 30px;
}

.product_desc--text {
    margin: 4% 0 1% 4%;
    font-size: 25px;
    font-weight: bold;
}

.product_desc--info{
    border: 1px solid black;
    width: 92%;
    height: 100%;
    margin-left: 4%;
}

.product_desc--info p{
    margin-left: 2%;
}

.product_desc--review h2 {
    margin: 2%;
}

.product_logo{
    width: 20%;
    display: flex;
}
.product_logo img{
    width: 90%;
}
.product_logo--img{
    flex: 0.7;
}

.product_logo--img {
    width: 100%;
    height: 90%;
    border: 5px solid lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px 20px;
    position: relative;
    background-color: white;
}

.product_logo--img img {
    max-width: 100%;
    max-height: 100%;
}


.product_logo--shop{
    flex: 0.8;
}
.product_logo--shop a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 2px solid black;
}

.product_logo--shop p {
    margin-bottom: 40%;
    font-size: 20px;
}
.product_about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2%;
}

.product_desc--review {
    border: 1px solid black;
    margin: 10% 4%;
}

.cunrrent_content--img {
    width: 80px;
    height: 80px;
    border: 5px solid lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px 20px;
    position: relative;
    background-color: white;
}

.cunrrent_content--img img {
    max-width: 100%;
    max-height: 100%;
}

.product_review--content {
    display: flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

.current_content--text {
    margin-left: 1%;
    margin-top: 0.5%;
    position: relative;
}

.current_content textarea {
    height: 100px;
    resize: none;
    width: 430%;
}

.current_post {
    position: absolute;
    top: 70%;
    right: -328%;
}

.current_post button {
    background-color: red;
    color: #fff;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 3px;
}

.current_post button:hover {
    background-color: rgb(209, 30, 30);
    cursor: pointer;
}

.current_name {
    margin-bottom: 3%;
}

.product_img--item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*  */
.overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);;
    position: fixed;
    display: none;
}
.product_payment--form {
    position: absolute;
    top: 5%;
    left: 20%;
    background-color: #fff;
    width: 60%;
    height: 85%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: none;
}
.payment_form--heading{
    text-align: center;
    padding: 10px 0;
}
.payment_form--infor{
    padding-right: 20%;
    height: 60px;
    display: none;
}
.payment_infor--cvc_number,
.payment_infor--time ,
.payment_infor--card_number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}
.payment_infor--cvc_number input,
.payment_infor--time input,
.payment_infor--card_number input{
    /* float: right; */
    width: 75%;
    height: 50%;
    border: 2px solid gray;
    border-radius: 10px;
}
.payment_infor--bank{
    margin-top: 14%;
    text-align: center;
}
.payment_infor--bank img{
    width: 80%;
    border: 2px solid black;
}
.payment_bank--confirm{
    text-align: right;
    margin-right: 3%;
    margin-top: 20px;
    
}
.payment_bank--confirm a{
    padding: 10px 15px;
    color: #fff;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
}
.close_icon{
    text-align: right;
}

.choose_size, .choose_color, .choose_discount{
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
}

.choose_size label, .choose_color label, .choose_discount label {
    font-size: 18px;
    padding-top: 1%;
}

.product_infor {
    margin-left: 5%;
}

.product_infor--heading h2 {
    font-size: 35px;
}

.product_infor--price p {
    font-size: 20px;
}

.choose_color select, .choose_size select, .choose_discount select{
    width: 30%;
    height: 30px;
    margin-right: 40%;
}

.choose_payment_method select {
    height: 30px;
    width: 70%;
}

.choose_payment_method {
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
}

.disscount {
    padding: 3% 0;
    font-size: 18px;
}

.disscount input {
    height: 25px;
    margin-left: 8%;
}


/* ------------------------ */

body {
    margin: 0;
}

/* header */
.header__logo{
    text-align: center;
}
.header__logo img{
    width: 62%;
    height: 40%;
    object-fit: cover;
    object-position: top center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container__header--cart,
.container__header--search{
    display: flex;
    justify-content: right; 
    align-items: center;
}
.header__search,
.header__cart{
    width: 100%;
    height: 100%;
}
.header__cart{
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin-top: 30px;
    list-style: none;
}
.header__search{
    display: flex;
    justify-content: right; 
    margin-top: 20px;
}

.header__search input{
    width: 80%;
    height: 30px;
    border-radius: 20px;
}
.header__search i{
    position: absolute;
    top: 4%;
    right: 18%;
}

.header__search i:hover, .header__cart:hover {
    cursor: pointer;
}
/*  */

/* drop-cart */

.header__cart i {
    color: black;
    position: relative;
    padding-right: 10px;
    left: 0;
}

.show_cart {
    list-style: none;
    position: absolute;
    padding: 0;
    border: 1px solid lightgray;
    width: 220px;
    margin-top: 8px;
    display: none;
}

.header__cart li:hover ul.show_cart {
    display: block;
}

.show_cart a {
    text-decoration: none;
}

.product_cart {
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.show_product {
    background-color: white;
    height: 150px;
    overflow-y: scroll;
}

.product_cart img {
    width: 30px;
    border: 1px solid lightgray;
}

.product_cart span:last-child {
    margin-left: 20px;
}

.product_cart:hover {
    background-color: lightgray;
}

.show_product::-webkit-scrollbar {
    width: 10px;
}

.show_product::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

.show_product::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5px;
}


/* / drop-cart / */


/* drd */

.header__login a{
    color: #000;
    text-decoration: none;
    padding-bottom: 10px ;
}

.header__login {
    margin-top: 30px;
}


.header__login li {
    padding-bottom: 10px;
    list-style: none;
}

.login {
    padding-bottom: 10px;
    list-style: none;
    margin-right: 80px;
}

.select_option a{
    list-style: none;
    color: #000;
}

.select_option {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 8px;
    padding: 0;
    display: none;
}

.header__login li:hover ul.select_option {
    display: block;
}


.select_option > a {
    padding-bottom: 5px;
}

.select_option li {
    padding: 5px 0px 5px 10px;
    border-bottom: 1px solid lightgray;
}

.select_option li:hover {
    background-color: lightgray;
}

/* / drd / */

/* Navigation */
.nav_list{
    display: flex;
    justify-content: space-evenly;
    padding-right: 90px;
}
.nav_item{
    list-style: none;
    padding: 10px;
    box-sizing: content-box;
    transition: box-shadow 0.3s ease;
    position: relative;
}
.nav_item--blog:hover,
.nav_item--home:hover,
.nav_item--service:hover,
.nav_item--product:hover,
.nav_item--contact:hover,
.nav_item--login:hover {
    box-shadow: 0px 2px 0px red;
    font-weight: bold;
}
/* dropdown */
.nav_item a{
    text-decoration: none;
    color: #000;
}

.product__item {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 5px;
    padding: 0;
    display: none;
}

.nav_list li:hover ul.product__item {
    display: block;
}

.nav_item > a {
    padding-bottom: 5px;
}

.product__item li {
    padding: 15px 60px 15px 10px;
    border-bottom: 1px solid lightgray;
    list-style: none;
}

.product__item li:hover {
    background-color: lightgray;
}

.date_submit {
    color: gray;
    position: absolute;
    right: -320%;
}

/* ------- */

/* footer */
.footer{
    color: #fff;
    background-color: #000;
    margin-top: 200px;
}
.footer_about--container{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.footer_follow,
.footer_office,
.footer_contact,
.footer_about{
    margin: 50px 0px;
}

.footer_follow h2,
.footer_contact h2,
.footer_about h2{
    text-align: center;
}

.footer_contact--item,
.footer_about--item{
    list-style: none;
    padding: 5px ;
}

.footer_about--item a{
    text-decoration: none;
    color: #fff;
}
.footer_contact--container{
    padding-left: 10px;
}
.footer_icon--address,
.footer_icon--phone,
.footer_icon--email,
.footer_icon--right{
    padding-right: 20px;
    margin-left: 15px;
}
.footer_office h2,
.time_open{
    text-align: center;
}
.footer_follow--item{
    list-style: none;
    padding: 5px 0px;
}
.footer_follow--container{
    padding-left: 23%;
}

.footer_follow--container li:hover {
    cursor: pointer;
}

.footer_follow--item i{
    margin-left: 10px;
    padding-right: 15px;
}

.footer_contact--item {
    display: flex;
}

.footer_icon--address {
    padding-right: 23px;
}

.fa-square-instagram {
    margin-right: 2px;
}
